<% include ../partials/header %>

<% if(currentUser && currentUser.isAdmin) { %>
<i class="glyphicon glyphicon-star-empty"></i>
<% } %>
<div class="col-md-12">
  <div class="thumbnail">
    <img class="img-responsive" src="<%= campground.image %>">
    <div class="caption-full">
      <h4 class="pull-right">
        $
        <%= campground.price %>/per night
      </h4>
      <h4>
        <h2 class="campground-name">
          <%= campground.name %>
        </h2>
      </h4>
      <p>
        <%= campground.description %>
      </p>
      <p>
        <em>Submitted by: <a href="/users/<%= campground.author.id %>">
            <%= campground.author.username %></a>,
          <%= moment(campground.createdAt).fromNow() %></em>
      </p>
      <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
      <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
      <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>

    <!-- MAP -->
    <div class="back-campgrounds">
      <hr>
      <a href="/campgrounds">Back to Campgrounds</a>
      <hr>
    </div>
    <p class="lead">Map</p>
    <div id="map"></div>
  </div>

  <!-- REVIEWS -->
  <div class="thumbnail">
    <div class="caption-full">
      <p class="lead">Reviews</p>
      <% if (campground.rating === 0) { %>
      <h5>
        <em>No reviews yet.</em>
      </h5>
      <% } else { %>
      <p>
        <span class="fas fa-star"></span>
        <span class="far fa-star <% if (campground.rating > 1.5) { %> fas fa-star <% } %>"></span>
        <span class="far fa-star <% if (campground.rating > 2.5) { %> fas fa-star <% } %>"></span>
        <span class="far fa-star <% if (campground.rating > 3.5) { %> fas fa-star <% } %>"></span>
        <span class="far fa-star <% if (campground.rating > 4.5) { %> fas fa-star <% } %>"></span>
        <em>(total reviews:
          <%= campground.reviews.length %>)</em>
      </p>
      <p>
        Current campground rating: <strong>
          <%= campground.rating.toFixed(2) %></strong>
      </p>
      <p>
        <h4>Latest reviews for this campground:</h4>
      </p>
      <hr style="margin-top: 0;">
      <% campground.reviews.slice(0, 5).forEach(function(review){ %>
      <div class="row">
        <div class="col-md-3">
          <%- '<span class="fas fa-star"></span>'.repeat(review.rating) %>
          <%- '<span class="far fa-star"></span>'.repeat(5 - review.rating) %>
          <div>Review by: <strong>
              <%= review.author.username %></strong></div>
          <span><em>
              <%= review.updatedAt.toDateString() %></em></span>
        </div>
        <div class="col-md-9">
          <p style="text-align: justify; word-wrap: break-word;">
            <%= review.text %>
          </p>
          <% if (currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-xs btn-warning"
            href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
          <form id="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE"
            method="POST">
            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
          </form>
          <% } %>
        </div>
      </div>
      <hr>
      <% }); %>
      <div style="margin-bottom: 10px;">
        <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See
            all reviews</a></h4>
      </div>
      <% } %>
      <div>
        <a class="btn btn-primary btn-lg <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
          href="/campgrounds/<%= campground._id %>/reviews/new">
          Write a New Review</a>
      </div>
    </div>
  </div>

  <!-- COMMENTS -->
  <div class="well">
    <div class="text-right">
      <p id="comments" class="lead">Comments</p>
      <a class="btn btn-success btn-lg" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
    </div>
    <hr>
    <% campground.comments.forEach((comment)=> { %>
    <div class="row">
      <div class="col-md-12">
        <strong>
          <%= comment.author.username %></strong>
        <span class="pull-right">
          <%= moment(comment.createdAt).fromNow() %>
        </span>
        <p>
          <%= comment.text %>
        </p>
        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
        <a class='btn btn-xs btn-warning'
          href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
        <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
          method="POST">
          <input type="submit" class="btn btn-xs btn-danger" value="Delete">
          <% } %>
        </form>
      </div>
    </div>
    <% }); %>
  </div>
</div>


<script>
  function initMap() {
    const lat = <%= campground.lat %>
    const lng = <%= campground.lng %>
    const center = { lat: lat, lng: lng };
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    const contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    const infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    const marker = new google.maps.Marker({
      position: center,
      map: map
    });
    marker.addListener('click', () => {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBvqH3c6t2uBc8nSbXtxWPHLyIzKXT0yA&callback=initMap"></script>

<% include ../partials/footer %>